
body{ 
    background-color: rgb(48, 153, 148); 
    margin: 0; 
    color: #fff; 
    line-height: 1.6; 
    } 
 html {
    scroll-behavior: smooth;
 }  
    img{ 
    max-width: 100%; 
    display: block; 
    } 
   
    nav.ponerBorde{ 
    position: fixed; 
    top: 0; 
    left: 10%; 
    width: 80%; 
    min-height: 7rem; 
    background-color: orange; 
    border-radius: 1rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
    margin-top: 1rem; 
    } 
   
    .ponerBorde ul{ 
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    } 
    .menu a{ 
    font-size: 1.5rem; 
    text-decoration: none; 
    color: black; 
    padding: 0.75rem 1.5rem; 
    background-color: burlywood; 
    border-radius: 0.5rem; 
    transition: all 0.3 ease; 
    } 
    .menu a:hover{ 
    background-color: rgba(233, 158, 61); 
    color: white; 
    } 
   
    header{ 
    padding-top: 8rem; 
    text-align: center; 
    } 
    .logo img{ 
    width: 100px; 
    height: auto; 
    margin-bottom: 1rem; 
    } 
   
    .titulo{ 
    margin-top: 2rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 1rem; 
    } 
    .cont-img img{ 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 1rem; 
    } 
    .titulo h2:first-of-type{ 
    font-size: 2rem; 
    background-color: salmon; 
    padding: 0.5rem 2rem; 
    border-radius: 1rem; 
    margin: 0.5rem 0; 
    margin-top: -23rem; 
    } 
    .titulo h2:nth-of-type(2){ 
    background-color: rgba(101, 187, 187, 0.5555); 
    font-size: 1rem; 
    padding: 1rem; 
    width: 70%; 
    border-radius: 1rem; 
    margin-bottom: 1rem; 
    } 
    .titulo p{ 
    max-width: 80%; 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 1rem; 
    border-radius: 1rem; 
    } 
   
    /*about*/ 
#about{
    width: 100%;
    height: 80%;
    background-color: #9fd3d4;
    padding: 4rem 2rem;
}

 #principal{ 
    background-color: #9fd3d4;
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem; 
    max-width: 1200px; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    margin-top: 5rem; 
    border-radius: 1rem;
    } 
   
    .hero{ 
    width: 400px; 
    border-radius: 1rem; 
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2); 
    } 
    
    .hero-text{ 
    flex: 1; 
    max-width: 600px; 
    } 
    .hero-text h1{ 
       font-size: 2rem; 
       background-color: salmon; 
       padding: 0.5rem 2rem; 
       border-radius: 1rem; 
       margin: 0.5rem 5rem; 
       text-align: center;
   
    } 
    .hero-text p{ 
       background-color: rgba(255, 255, 255, 0.1); 
       padding: 1rem; 
       border-radius: 1rem; 
       margin: 1rem 4rem; 
       line-height: 1.6;
       text-align: justify;
    }
   
    /*service*/
    #service{
       padding: 4rem 2rem;
       background-color: rgb(48, 153, 148); 
       text-align: center;
       gap: 20rem;
    }
    .sub-title{
       color: white;
       margin-top: -5rem;
       text-align: center;
       align-items: center;
       margin-top: 5rem;
       font-size: 2.5rem;
   
    }
   
   .services-list{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
       grid-gap: 40px;
       margin-top: 50px;
   }
   
   .services-list div{
    background-color: rgba(101, 187, 187, 0.5555); 
       padding: 40px;
       font-size: 13px;
       font-weight: 300;
       border-radius: 10px;
       transition: background 0.5s, transform 0.5s;
   }
   
   .services-list div i{
       font-size: 50px;
       margin-bottom: 30px;
   }
   .services-list div h2{
       font-size: 30px;
       font-weight: 500;
       margin-bottom: 15px;
   }
   .services-list div a{
       text-decoration: none;
       color: #fff;
       font-size: 12px;
       margin-top: 20px;
       display: inline-block;
   }
   .services-list div:hover{
       background: salmon;
       transform: translateY(-10px);
   }
   
   
/* contact page*/

body,
input,
textarea {
    font-family: "popins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact{
    background: #fafafa;
    padding: 50px 0;
}
.contact{
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center
    }
   
.form{
    background-color: #ffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
}

.title-2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.text{
    font-size: 15px;
    margin-bottom: 30px;
    color: #494848;
}

.form-group{
    margin-bottom: 25px;
}

.form-group label{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    display: block;
    margin-bottom: 8px;
}
.form-group input, .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: #333;
}

.form-group input:focus, .form-group textarea:focus{
    outline: none;
    border-color: #5d9bfb;
    box-shadow: 0 0 5px rgb(96, 152, 236, 0.5);
}

textarea{
    height: 150px;
    resize: vertical;
}


.checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox input{
    margin-right: 10px;
}

.checkbox label{
    font-size: 15px;
    color: #333;
}


.form{
    background-color: #1abc9c;
    position: relative;
}


#btn-enviar{
    background-color: #1abc9c;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btn-enviar:hover {
    background-color: #9fd3d4;
}
#btn-enviar:active{
    background-color: #5d9bfb;
}

@media (max-width: 400px){
    #contactForm{
        padding: 12px;
    }
    #contactForm label{
        font-size: 13px;
    }
    #contactForm input, #contactForm textarea{
        font-size: 13px;
    }
    #contactForm button{
        font-size: 13px;
    }
} 



@media (max-width: 480px){
    .container {
        padding: 1.5rem;
    }

    .contact-info:before{
        display: none;
    }
}









   /*---------------------------------
   nav{
       min-height: 7rem;
       background-color: orange;
       position: fixed;
       top: 0;
       left: 10%;
       border-radius: 0.5rem;
       justify-content: center;
       width: 80%;
      }
   .ponerBorde ul {
       list-style: none;
       display: flex;
       justify-content: space-around;
       align-items: center;
   
   }
   .ponerBorde ul li a:hover {
       background-color: rgb(233, 158, 61);
       color: white;
   }
   .menu a{
       width: 8rem;
       height: 3.5rem;
       background-color: burlywood;
       margin: 0.5rem;
   }
   
   ul li a{
      font-size: 2rem;
      color: black;
      display: block;
      text-align: center;
      padding-top: 0.5rem;
      background-color: rgba(101, 187, 187, 0.555);
      border-radius: 0.5rem;
   }
   .titulo {
       margin-top: 10rem;
       text-align: center;
   }
   .titulo h1{
       font-size: 2rem;
       text-align: center;
       justify-content: center;
       align-items: center;
       background-color: salmon;
       color: white;
       border-radius: 1rem;
       width: 10rem;
       padding: 1rem 2rem;
       margin-right: 40rem;
       margin-top: -5rem;
   }
   .titulo h2{
       background-color: rgba(101, 187, 187, 0.555);
       color: white;
       border-radius: 2rem;
       padding: 1rem 2rem;
       width: 30rem;
       font-size: 1rem;
       margin-top: -30rem;
   }
   .titulo p{
       margin-top: 10rem;
   }
   
   .titulo img{
       width: 20rem;
       height: 20rem;
       border-radius:50%;
       margin-left: 40rem;
       padding: 20px;
       display:flex;
       justify-content: center;
   }
       */